@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #365d56;}
ul{list-style: none;}
body{background: #fff; font-size: 16px; 
  font-family: 'SpoqaHanSansNeo-Regular'; color: #363636; line-height: 40px;
}

/*헤더*/
header{background-color: #fff; 

  height:  940px;
  /* margin-bottom: 80px; */

  width:100%;
   height:170px; /*이미지 높이가 높은편이라 a태그가 좀 아래에서 잡힘*/

  background: url(images/headerstyle.png)no-repeat center top;
  background-size: cover;

  position:absolute; 
  top:0; left:0; /*부모가 body 자식이 header*/
}



.headerbg{ width:100%;
  /* margin: 0 auto;  */
  /* width: 1920px;  */
  display: block; text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); position: absolute; z-index: 3; margin-left: -960px; left: 50%;}
.navbg{background-color: #fff;width: 100%; height: 78px; position: absolute; top: 0; z-index: 2; box-shadow: 5px, 5px, 5px, rgba(0, 0, 0, 0.3) ;}
.nav{width: 1320px; margin: 0 auto; height: 78px; position: absolute; top: 0; left: 50%; margin-left: -660px; text-align: center;z-index: 5;}
.menu1{float: left; font-size: 20px; font-weight: bold; }
.menu2{float: right; font-size: 20px; font-weight: bold; }
.menu1 li, .menu2 li{float: left; margin: 30px 0;}
.menu1 li a:hover, .menu2 li a:hover{color: #a7ceba;}
.menu1>li>a:hover .solid, .menu2>li>a:hover .solid{transform:scaleX(1);
    opacity:1;
    visibility:visible;}	
.solid{width:100%;
    margin-top:5px;
    height:2px;
    background:#365d56;
    visibility:hidden;
    opacity:0;
    transform:scaleX(0);
    transition-duration:0.5s;}
.m1{padding-right: 220px;}
.m2{padding-left: 270px;}

.logo{position: absolute; top: 11px; left: 50%; margin-left: -82.5px;}


 /*메인배너*/
.main{z-index: 1; text-align: center; }
.main img{width:100%; display: block;}

/*브랜드 스토리*/
.con1{width: 1320px; height: 1700px;  margin: 0 auto; background: url(images/bar.png) center top no-repeat;}
h1{font-size: 36px;  padding-top: 145px; text-align: center; height: 165px;}

.left{width: 608px; float: left;}
.left img{display: block; margin-bottom: 85px;}
.left p,.right p{padding-top: 50px; background: url(images/leaf.png) no-repeat left top; font-weight: 500; margin-bottom: 195px; }

.right{float: right; width: 670px; position: relative;}
.tree{display: block;}
.apron{position: absolute; top: 500px; left: 300px; z-index: 3;}

/*중간*/
.happylist{background: url(images/happybg.jpg) repeat center top 100%; height: 350px; width: 100%;}
.happylist ul{width: 1320px; margin: 0 auto;}
.happylist ul li{float: left; padding: 110px;}

/*커피*/
.con2{width: 1320px; margin: 0 auto; background: url(images/bar.png) center top no-repeat;}
.coffeecon{width: 1320px; height: 900px; margin: auto; position: relative;}
.coffeecon img{display: block;float: left;}
.coffeecon p{float: left;  line-height: 36px; font-weight: 500;}
.coffeetree{width:655px ; height: 300px;}
.coffeetree_t{width: 367px;height: 300px; background: url(images/bar2.png) no-repeat 25px 70px; box-sizing: border-box; padding-top: 80px; padding-left: 25px;}
.coffee{width: 298px; height: 300px;}
.coffee_t{height: 341px; background: url(images/bar2.png) no-repeat 30px 90px; box-sizing: border-box; padding-top: 100px; padding-left: 30px;}
.espresso_t{width: 307px; height: 232px; background: url(images/bar2.png) no-repeat 30px 40px; box-sizing: border-box; padding-top: 50px; padding-left: 30px;}
.espresso{width: 307px; position: absolute; bottom: 0; left: 0;}
.rosting_t{width: 407px; height: 259px; position: absolute; bottom: 0; left: 304px; background: url(images/bar2.png) no-repeat 65px 60px; box-sizing: border-box; padding-top: 70px; padding-left: 65px;}
.colombia{width: 715px; height: 342px;}
.rosting{position: absolute; bottom: 0; right: 0;}

/*식물*/
.con3{width: 1320px; margin: 0 auto; background: url(images/bar.png) center top no-repeat;}
.plant{width: 1320px; height: 1000px; position: relative; margin: auto; margin-bottom: 200px;}
.plant1{width: 449px; position: absolute; top: 0; left: 0;}
.plant2{width: 408px; position: absolute; top: 20%; left: 449px;}
.plant3{width: 463px; position: absolute; bottom: 0; left: 857px;}
.plant_tl{width: 440px; position: absolute; top: 60px; right: 0; box-sizing: border-box; background: url(images/leaf.png) no-repeat left top; padding-top: 70px; font-weight: 500;}
.plant_tr{width: 440px; position: absolute; bottom: 200px; left: 40px; box-sizing: border-box; background: url(images/leaf.png) no-repeat left top; padding-top: 70px; font-weight: 500;}

footer{width: 100%; height: 355px; background: url(images/footerbg.jpg); font-weight: 900; color: #365d56; line-height: 40px;}
.footer_inner{width: 1320px; margin: 0 auto; padding-top: 50px}
.footer_l{float: left; }
.footer_r{float: right;}
.footer_inner> a{text-align: center;}
.footer_t1{ margin-bottom: 50px;}

.footer_bottom{width: 860px; padding-left: 361px; margin-bottom: 20px; clear: both; margin-top: 130px;}
.footer_t2{float: left; padding-right: 40px;}
.sitemap{float: right;}
.footer_inner a{display: inline-block; padding-right: 40px;}
.copy{text-align: center;}



